<div *ngIf="!(search$ | async)" class="mt-4 mb-6 px-6 max-h-[70vh] overflow-y-auto">

  <section *ngIf="!(history$ | async)?.length && !(favourites$ | async)?.length">
    <div class="pt-12 pb-10 text-center space-y-2">
      <h2 class="font-semibold text-slate-900 dark:text-slate-300">
        No recent searches.
      </h2>
      <p class="text-sm text-slate-500">
        Search plugins by name or company.
      </p>
    </div>
  </section>

  <!-- User Search History -->
  <section *ngIf="(history$ | async)?.length">
    <!-- Title -->
    <h2 class="-mx-6 px-6 py-4 font-semibold border-b border-slate-100 dark:border-slate-300/5 text-slate-900 dark:text-slate-300">
      Recent
    </h2>

    <!-- List -->
    <div *ngFor="let plugin of (history$ | async); index as row" class="-mx-6 -ml-8 flex justify-between border-b border-slate-100 dark:border-slate-300/5 py-4 pr-6 pl-8 items-center" [ngClass]="row === (activeRow$ | async) ? 'bg-red-500' : 'bg-blue-500'">
      <span class="text-sm text-slate-500">{{ plugin.name }}</span>
      <div class="flex pl-2 divide-x divide-slate-200 dark:divide-slate-300/5">
        <!-- Add To Favourites -->
        <button class="group py-1 px-3" (click)="addFavourites(plugin)" title="Add this search to favourites">
          <svg-icon src="/assets/svg/solid/sparkles.svg" class="h-5 w-5 fill-slate-400 dark:fill-slate-600 group-hover:fill-sky-500" [applyClass]="true"></svg-icon>
        </button>
        <!-- Remove From History -->
        <button class="group py-1 px-2" (click)="removeHistory(plugin)" title="Remove this search from history">
          <svg-icon src="/assets/svg/solid/x.svg" class="h-5 w-5 fill-slate-400 dark:fill-slate-600 group-hover:fill-slate-500" [applyClass]="true"></svg-icon>
        </button>
      </div>
    </div>
  </section>

  <!-- User Favourites -->
  <section *ngIf="(favourites$ | async)?.length">
    <!-- Title -->
    <h2 class="-mx-6 px-6 pb-4 pt-6 font-semibold border-b border-slate-100 dark:border-slate-300/5 text-slate-900 dark:text-slate-300">
      Favourites
    </h2>

    <!-- List -->
    <div *ngFor="let plugin of (favourites$ | async)" class="bg-sky-500/5 dark:bg-slate-700/10 -mx-6 -ml-8 flex justify-between border-b border-slate-100 dark:border-slate-300/5 py-4 pr-6 pl-8 items-center">
      <span class="text-sm text-slate-500">{{ plugin.name }}</span>
      <div class="flex pl-2 divide-x divide-slate-200 dark:divide-slate-300/5">
        <!-- Remove From Favourites -->
        <button class="group py-1 px-3" (click)="removeFavourites(plugin)" title="Remove this search from favourites">
          <svg-icon src="/assets/svg/solid/sparkles.svg" class="h-5 w-5 fill-sky-500 group-hover:fill-slate-400 dark:group-hover:fill-slate-500" [applyClass]="true"></svg-icon>
        </button>
        <!-- Remove From Favourites -->
        <button class="group py-1 px-2" (click)="removeFavourites(plugin)" title="Remove this search from favourites">
          <svg-icon src="/assets/svg/solid/x.svg" class="h-5 w-5 fill-slate-400 dark:fill-slate-600 group-hover:fill-slate-500" [applyClass]="true"></svg-icon>
        </button>
      </div>
    </div>
  </section>

</div>


<ng-container *ngIf="(plugin$ | async) | fuzzySearch:(search$ | async):{ keys: [{name: 'name', weight: 2}, {name: 'company', weight: 1}] }; let results">

  <!-- Results List -->
  <ng-container *ngIf="results.length">
    <ul *ngFor="let plugin of results" (click)="addHistory(plugin.item)">
      {{ plugin.item.name }}
    </ul>
  </ng-container>

  <!-- Results Not Found -->
  <ng-container *ngIf="(!results.length) && (search$ | async)">
    <div class="p-16 text-center space-y-2">
      <h2 class="font-semibold text-slate-900 dark:text-slate-300">
        No results found.
      </h2>
      <p class="text-sm text-slate-500">
        We can't find this plugin at the moment, try searching something else.
      </p>
    </div>
  </ng-container>

</ng-container>
