<div *ngIf="!(search$ | async)" class="my-4 px-6 max-h-80 overflow-y-auto">

  <!-- Title -->
  <h2 class="-mx-6 px-6 py-4 font-semibold border-b border-slate-100 dark:border-white/5 text-slate-900 dark:text-slate-300">
    Recent
  </h2>

  <!-- History List -->
  <div *ngFor="let plugin of (history$ | async)" class="-mx-6 -ml-8 flex justify-between border-b border-slate-100 dark:border-white/5 py-4 pr-6 pl-8 items-center">
    <span class="text-sm text-slate-500">{{ plugin.name }}</span>

    <div class="flex pl-2 divide-x divide-slate-200 dark:divide-white/5">

      <!-- Add To Favourites -->
      <button class="group py-1 px-3">
        <svg-icon src="/assets/svg/solid/sparkles.svg" class="h-5 w-5 fill-slate-400 dark:fill-slate-600 group-hover:fill-sky-500" [applyClass]="true"></svg-icon>
      </button>

      <!-- Remove From History -->
      <button class="group py-1 px-2" (click)="removeHistory(plugin)">
        <svg-icon src="/assets/svg/solid/x.svg" class="h-5 w-5 fill-slate-400 dark:fill-slate-600 group-hover:fill-slate-500" [applyClass]="true"></svg-icon>
      </button>

    </div>

  </div>
</div>

<ng-container *ngIf="(plugin$ | async) | fuzzySearch:(search$ | async):{ keys: [{name: 'name', weight: 2}, {name: 'company', weight: 1}] }; let results">

  <ng-container *ngIf="results.length">
    <ul *ngFor="let plugin of results" (click)="addHistory(plugin.item)">
      {{ plugin.item.name }}
    </ul>
  </ng-container>

  <ng-container *ngIf="(!results.length) && (search$ | async)">
    <div class="p-16 text-center space-y-2">
      <h2 class="font-semibold text-slate-900 dark:text-slate-300">
        No results found.
      </h2>
      <p class="text-sm text-slate-500">
        We can't find this plugin at the moment, try searching something else.
      </p>
    </div>
  </ng-container>

</ng-container>
