<div *ngIf="!(search$ | async); else resultsFound">
  <div>History and favourites will go here!</div>
</div>

<!-- TODO: Show search results if they can be found, else show #noResultsFound. -->
<ng-template #resultsFound>
  <div>Results have been found!</div>
</ng-template>

<ng-template #noResultsFound>
  <div class="p-16 text-center space-y-2">
    <h2 class="font-semibold text-slate-900 dark:text-slate-300">
      No results found.
    </h2>
    <p class="text-sm text-slate-500">
      We can't find this plugin at the moment, try searching something else.
    </p>
  </div>
</ng-template>
