<!-- Toggle Theme Button -->
<button type="button" (click)="toggleTheme()" class="h-8 w-8 p-1 rounded-lg fill-sky-500 hover:bg-sky-100 dark:hover:bg-sky-800/20">
  <svg-icon *ngIf="isDarkTheme()" src="/assets/svg/solid/moon.svg"></svg-icon>
  <svg-icon *ngIf="!isDarkTheme()" src="/assets/svg/solid/sun.svg"></svg-icon>
</button>

<!-- Open Modal Button -->
<button type="button" (click)="openModal()" class="group h-8 w-8 p-1 rounded-lg hover:bg-sky-100 dark:hover:bg-sky-800/20">
  <svg-icon src="/assets/svg/outline/search.svg" class="stroke-slate-900 dark:stroke-slate-300 group-hover:stroke-sky-800 dark:group-hover:stroke-sky-500" [applyClass]="true"></svg-icon>
</button>

<app-command-palette></app-command-palette>
